# Exploratory Data Analysis (EDA)

## Import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Load the data

In [4]:
cat = pd.read_pickle("../data/cat_quality.pickle")
num = pd.read_pickle("../data/num_quality.pickle")

## Categorical EDA

### Statistical analysis

In [20]:
def cat_frequencies(df_cat):
    '''''
    Function that counts for each variable the frequency percentage of each
    record of a variable. Returns a new dataframe with 3 features, being the
    first the name of the variables, the second the value of each variable and
    a final feature with the normalized frequency of that value for that given
    variable.
    '''''
    output = df_cat.apply(lambda x: x.value_counts(normalize=True)).T.stack()\
            .to_frame().reset_index()\
            .rename(columns={"level_0":"Variable","level_1":"Value", 0: "Frequency"})\
                .sort_values(by = ["Variable","Frequency"])
    
    return (output)

['store_id',
 'item_id',
 'd',
 'year',
 'month',
 'wday',
 'weekday',
 'event_name_1',
 'event_type_1']

In [24]:
# For this counting we're going to delete the "d" variable which is just the
# number of the day.
cat.columns.to_list()

['store_id',
 'item_id',
 'd',
 'year',
 'month',
 'wday',
 'weekday',
 'event_name_1',
 'event_type_1']

In [27]:
cat_variables = cat.columns.to_list()
del cat_variables[2]

In [29]:
pd.set_option('display.max_rows', None)
cat_frequencies(cat[cat_variables])

        Variable                Value  Frequency
41  event_name_1         Chanukah End   0.001880
42  event_name_1            Christmas   0.001880
43  event_name_1        Cinco De Mayo   0.001880
48  event_name_1         Father's day   0.001880
61  event_name_1       OrthodoxEaster   0.001880
44  event_name_1          ColumbusDay   0.002820
45  event_name_1               Easter   0.002820
46  event_name_1          Eid al-Fitr   0.002820
47  event_name_1            EidAlAdha   0.002820
49  event_name_1            Halloween   0.002820
50  event_name_1      IndependenceDay   0.002820
51  event_name_1             LaborDay   0.002820
52  event_name_1            LentStart   0.002820
53  event_name_1            LentWeek2   0.002820
54  event_name_1  MartinLutherKingDay   0.002820
55  event_name_1          MemorialDay   0.002820
56  event_name_1         Mother's day   0.002820
57  event_name_1         NBAFinalsEnd   0.002820
58  event_name_1       NBAFinalsStart   0.002820
59  event_name_1              NewYear   0.002820
60  event_name_1    OrthodoxChristmas   0.002820
62  event_name_1           Pesach End   0.002820
63  event_name_1        PresidentsDay   0.002820
64  event_name_1            Purim End   0.002820
65  event_name_1       Ramadan starts   0.002820
66  event_name_1        StPatricksDay   0.002820
67  event_name_1            SuperBowl   0.002820
68  event_name_1         Thanksgiving   0.002820
69  event_name_1        ValentinesDay   0.002820
70  event_name_1          VeteransDay   0.002820
71  event_name_1             no_event   0.920113
75  event_type_1             Sporting   0.008459
72  event_type_1             Cultural   0.017857
74  event_type_1            Religious   0.026316
73  event_type_1             National   0.027256
76  event_type_1             no_event   0.920113
2        item_id          FOODS_3_090   0.100000
3        item_id          FOODS_3_120   0.100000
4        item_id          FOODS_3_202   0.100000
5        item_id          FOODS_3_252   0.100000
6        item_id          FOODS_3_288   0.100000
7        item_id          FOODS_3_329   0.100000
8        item_id          FOODS_3_555   0.100000
9        item_id          FOODS_3_586   0.100000
10       item_id          FOODS_3_587   0.100000
11       item_id          FOODS_3_714   0.100000
26         month                   12   0.058271
16         month                    2   0.078947
18         month                    4   0.084586
20         month                    6   0.084586
23         month                    9   0.084586
25         month                   11   0.084586
15         month                    1   0.087406
17         month                    3   0.087406
19         month                    5   0.087406
21         month                    7   0.087406
22         month                    8   0.087406
24         month                   10   0.087406
0       store_id                 CA_3   0.500000
1       store_id                 CA_4   0.500000
27          wday                    1   0.142857
28          wday                    2   0.142857
29          wday                    3   0.142857
30          wday                    4   0.142857
31          wday                    5   0.142857
32          wday                    6   0.142857
33          wday                    7   0.142857
34       weekday               Friday   0.142857
35       weekday               Monday   0.142857
36       weekday             Saturday   0.142857
37       weekday               Sunday   0.142857
38       weekday             Thursday   0.142857
39       weekday              Tuesday   0.142857
40       weekday            Wednesday   0.142857
14          year                 2015   0.313910
12          year                 2013   0.343045
13          year                 2014   0.343045

#### Nothing to highlight from here.

In [30]:
pd.set_option('display.max_rows', 6)