# Feature Engineering

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder
from category_encoders import TargetEncoder

## Load the data

In [2]:
cat = pd.read_pickle("../data/cat_eda.pickle")
num = pd.read_pickle("../data/num_eda.pickle")

## Create new variables

### In order to make our forecasting model more accurate it is good practice to include new variables that capture the intermitent demand as well as the stock outage. To do that we need:

- Calendar variables (year, month, wday and weekday - already created in the dataset)
- Intermitent demand variables
- Lag variables
- Moving averages

#### Let's join the datasets again in a single dataframe to do it.

In [4]:
df = pd.concat([cat,num], axis=1)
df

           store_id      item_id       d  ... wm_yr_wk sales sell_price
date                                      ...
2013-01-01     CA_3  FOODS_3_090   d_704  ...    11249     0       1.25
2013-01-01     CA_3  FOODS_3_120   d_704  ...    11249    33       1.25
2013-01-01     CA_3  FOODS_3_202   d_704  ...    11249     0       4.98
2013-01-01     CA_3  FOODS_3_252   d_704  ...    11249     0       4.98
2013-01-01     CA_3  FOODS_3_288   d_704  ...    11249    20       4.28
...             ...          ...     ...  ...      ...   ...        ...
2015-11-30     CA_4  FOODS_3_329  d_1767  ...    11544     9       1.68
2015-11-30     CA_4  FOODS_3_555  d_1767  ...    11544    26       2.48
2015-11-30     CA_4  FOODS_3_586  d_1767  ...    11544    13       2.48
2015-11-30     CA_4  FOODS_3_587  d_1767  ...    11544    11       1.58
2015-11-30     CA_4  FOODS_3_714  d_1767  ...    11544     9       1.58

[21280 rows x 12 columns]

### Intermitent demand variables

#### This variable should identify how many days in a row there are 0 sales.
#### Given N days without sales then we assume there is stock outage.

In [ ]:
def stock_outage(sales, n):
    zero_sales = pd.Series(np.where(sales == 0, 1, 0))
    num_zeros = zero_sales.rolling(n).sum()
    stock_outage = np.where(num_zeros == n, 1, 0)
    return stock_outage